<div class="container">

  <h1 class="title">
    {{title}}
  </h1>

  <div class="row" style="margin-top: 25px;">
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="cookieName" placeholder="Name">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="cookieType" placeholder="Type">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="cookieDescription" placeholder="Description">
    </div>
    <div class="col-md-3">
      <button type="button" (click)="CreateRecord()" [disabled]="!cookieName || !cookieType || !cookieDescription" class="btn btn-primary">
        Create Coookie</button>
    </div>
  </div>

  
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-3">
      <div class="card cookie-card"  *ngFor="let item of cookies" style="margin-top: 10px;">
        <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
          <h5 class="card-title">{{item.Name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Type: {{item.Type}}</h6>
          <p class="card-text">Description: {{item.Description}}</p>
          <a href="#" class="btn btn-primary spacer" (click)="EditRecord(item)">Edit</a>
          <a href="#" class="btn btn-danger spacer" (click)="RemoveRecord(item.id)">Delete</a>
        </div>
        <ng-template #elseBlock>
          <div class="card-body">
            <h5 class="card-title">Edit</h5>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditName" placeholder="Edit Name">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditType" placeholder="Edit Type">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditDescription" placeholder="Edit Description">
                </div>
              </div>
            </div>

            <a href="#" class="btn btn-danger spacer" (click)="item.isEdit = false">Cancel</a>
            <a href="#" class="btn btn-primary spacer" (click)="UpdateRecord(item)">Update</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>


</div>