@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


.title{
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}

.cookie-card{
    width: 18rem;
}
.btn{
    max-width: 90%;
}
.spacer{
    margin-left: 5%;
}